<a href="https://colab.research.google.com/github/jmtcabili/CEPARCO-Integrating-Project-ARIMA/blob/main/GetArimaCoefficient_Sequential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Read the file
df = pd.read_csv('dataset.csv')  # or 'your_file.txt' if it's CSV-formatted

# Extract the 'values' column
values = df['value']  # returns a Series

values.head(15)

0     3.526591
1     3.180891
2     3.252221
3     3.611003
4     3.565869
5     4.306371
6     5.088335
7     2.814520
8     2.985811
9     3.204780
10    3.127578
11    3.270523
12    3.737851
13    3.558776
14    3.777202
Name: value, dtype: float64

In [ ]:
def generate_dataframe(n):
    values = np.array([(i%5) + 1 for i in range(n)])
    df = pd.DataFrame({'value': values})
    return df

n = 2**20
df = generate_dataframe(n)
print(df)

         value
0            1
1            2
2            3
3            4
4            5
...        ...
1048571      2
1048572      3
1048573      4
1048574      5
1048575      1

[1048576 rows x 1 columns]

In [ ]:
y = df['value'].to_numpy()

In [ ]:
import numpy as np
import time

def create_lagged_matrix(arr, p):
    n = len(arr)
    lagged_matrix = np.ones((n, p + 1))  # First column is ones

    for j in range(1, p + 1):  # Iterate for lagged columns
        lagged_matrix[j:, j] = arr[:-j]  # Shift values
        lagged_matrix[:j, j] = 0  # Fill leading values with 0

    return lagged_matrix

In [ ]:
p = 4
num_iterations = 20
execution_times = []

for _ in range(num_iterations):
    start_time = time.time()
    x = create_lagged_matrix(y, p)  # Ensure create_lagged_matrix is defined
    end_time = time.time()

    execution_times.append(end_time - start_time)

avg_time = np.mean(execution_times)
print(f"Average execution time over {num_iterations} runs: {avg_time:.6f} seconds")

Average execution time over 20 runs: 0.039379 seconds

In [ ]:
import time

num_iterations = 20
execution_times = []

for _ in range(num_iterations):
    start = time.perf_counter()
    0.0
    xt = x.transpose()
    x1 = np.linalg.inv(np.matmul(xt, x))
    x2 = np.matmul(x1, xt)
    xf = np.matmul(x2, y)

    end = time.perf_counter()

    execution_times.append(end - start)

avg_time = np.mean(execution_times)
print(f"Average execution time over {num_iterations} runs: {avg_time:.6f} seconds")
print(xf.round(2))

Average execution time over 20 runs: 0.055705 seconds
[15. -1. -1. -1. -1.]